Repository googleapis/python-dataproc, pull requests merged in 2020-12, with the labels that each got.

#112 chore: adding @googleapis/api-dataproc to codeowners
  .github/CODEOWNERS
Labels: api: dataproc, cla: yes

#108 feat(v1beta1): remove DOCKER/FLINK from Component enum; adds HBASE
  google/cloud/dataproc_v1/__init__.py
  google/cloud/dataproc_v1beta2/__init__.py
  google/cloud/dataproc_v1beta2/proto/autoscaling_policies.proto
  google/cloud/dataproc_v1beta2/proto/clusters.proto
  google/cloud/dataproc_v1beta2/proto/jobs.proto
  google/cloud/dataproc_v1beta2/proto/shared.proto
  google/cloud/dataproc_v1beta2/proto/workflow_templates.proto
  google/cloud/dataproc_v1beta2/services/workflow_template_service/async_client.py
  google/cloud/dataproc_v1beta2/services/workflow_template_service/client.py
  google/cloud/dataproc_v1beta2/types/autoscaling_policies.py
  google/cloud/dataproc_v1beta2/types/clusters.py
  google/cloud/dataproc_v1beta2/types/jobs.py
  google/cloud/dataproc_v1beta2/types/shared.py
  google/cloud/dataproc_v1beta2/types/workflow_templates.py
  synth.metadata
Labels: api: dataproc, cla: yes, context: partial

#117 fix: remove gRPC send/recv limits; expose client transport
  google/cloud/dataproc_v1/services/autoscaling_policy_service/transports/__init__.py
  google/cloud/dataproc_v1/services/autoscaling_policy_service/transports/grpc.py
  google/cloud/dataproc_v1/services/autoscaling_policy_service/transports/grpc_asyncio.py
  google/cloud/dataproc_v1/services/cluster_controller/transports/__init__.py
  google/cloud/dataproc_v1/services/cluster_controller/transports/grpc.py
  google/cloud/dataproc_v1/services/cluster_controller/transports/grpc_asyncio.py
  google/cloud/dataproc_v1/services/job_controller/transports/__init__.py
  google/cloud/dataproc_v1/services/job_controller/transports/grpc.py
  google/cloud/dataproc_v1/services/job_controller/transports/grpc_asyncio.py
  google/cloud/dataproc_v1/services/workflow_template_service/transports/__init__.py
  google/cloud/dataproc_v1/services/workflow_template_service/transports/grpc.py
  google/cloud/dataproc_v1/services/workflow_template_service/transports/grpc_asyncio.py
  google/cloud/dataproc_v1/types/__init__.py
  google/cloud/dataproc_v1beta2/proto/clusters.proto
  google/cloud/dataproc_v1beta2/services/autoscaling_policy_service/transports/__init__.py
  google/cloud/dataproc_v1beta2/services/autoscaling_policy_service/transports/grpc.py
  google/cloud/dataproc_v1beta2/services/autoscaling_policy_service/transports/grpc_asyncio.py
  google/cloud/dataproc_v1beta2/services/cluster_controller/async_client.py
  google/cloud/dataproc_v1beta2/services/cluster_controller/client.py
  google/cloud/dataproc_v1beta2/services/cluster_controller/transports/__init__.py
  google/cloud/dataproc_v1beta2/services/cluster_controller/transports/grpc.py
  google/cloud/dataproc_v1beta2/services/cluster_controller/transports/grpc_asyncio.py
  google/cloud/dataproc_v1beta2/services/job_controller/transports/__init__.py
  google/cloud/dataproc_v1beta2/services/job_controller/transports/grpc.py
  google/cloud/dataproc_v1beta2/services/job_controller/transports/grpc_asyncio.py
  google/cloud/dataproc_v1beta2/services/workflow_template_service/async_client.py
  google/cloud/dataproc_v1beta2/services/workflow_template_service/client.py
  google/cloud/dataproc_v1beta2/services/workflow_template_service/transports/__init__.py
  google/cloud/dataproc_v1beta2/services/workflow_template_service/transports/grpc.py
  google/cloud/dataproc_v1beta2/services/workflow_template_service/transports/grpc_asyncio.py
  google/cloud/dataproc_v1beta2/types/__init__.py
  google/cloud/dataproc_v1beta2/types/clusters.py
  synth.metadata
  tests/unit/gapic/dataproc_v1/test_autoscaling_policy_service.py
  tests/unit/gapic/dataproc_v1/test_cluster_controller.py
  tests/unit/gapic/dataproc_v1/test_job_controller.py
  tests/unit/gapic/dataproc_v1/test_workflow_template_service.py
  tests/unit/gapic/dataproc_v1beta2/test_autoscaling_policy_service.py
  tests/unit/gapic/dataproc_v1beta2/test_cluster_controller.py
  tests/unit/gapic/dataproc_v1beta2/test_job_controller.py
  tests/unit/gapic/dataproc_v1beta2/test_workflow_template_service.py
Labels: api: dataproc, cla: yes, context: partial

#118 chore: update templates
  .flake8
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  docs/conf.py
  noxfile.py
  samples/snippets/noxfile.py
  synth.metadata
Labels: api: dataproc, cla: yes, context: partial

#119 chore: reorder classes
  google/cloud/dataproc_v1/__init__.py
  synth.metadata
Labels: api: dataproc, cla: yes, context: none
