Repository googleapis/python-dataproc, pull requests merged in 2021-03, with the labels that each got.

#135 docs: adding backoff to quickstart test
  samples/snippets/quickstart/quickstart_test.py
  samples/snippets/requirements.txt
Labels: api: dataproc, cla: yes

#123 chore: update templates
  LICENSE
  docs/_static/custom.css
  google/cloud/dataproc_v1/__init__.py
  google/cloud/dataproc_v1beta2/__init__.py
  synth.metadata
Labels: api: dataproc, cla: yes, context: partial

#150 fix: (samples) fixing samples for new machine types
  samples/snippets/create_cluster.py
  samples/snippets/quickstart/quickstart.py
  samples/snippets/submit_job_test.py
Labels: api: dataproc, automerge, cla: yes, samples
