Repository googleapis/python-dataproc, pull requests merged in 2021-04, with the labels that each got.

#158 chore: update coverage and use latest sphinx
  noxfile.py
  synth.metadata
  synth.py
Labels: api: dataproc, cla: yes, context: partial

#162 chore: add license headers
  .pre-commit-config.yaml
  dataproc-v1beta2-py.tar.gz
  docs/conf.py
  google/cloud/dataproc_v1/__init__.py
  synth.metadata
Labels: api: dataproc, cla: yes, context: partial

#168 chore: prevent normalization of semver versioning
  setup.py
Labels: api: dataproc, cla: yes

#171 chore: migrate to owl bot
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
  .github/header-checker-lint.yml
  .kokoro/release.sh
  .kokoro/release/common.cfg
  docs/_static/custom.css
  google/cloud/dataproc_v1/__init__.py
  owlbot.py
  renovate.json
  samples/snippets/noxfile.py
  synth.metadata
Labels: api: dataproc, automerge, cla: yes
