Repository googleapis/python-dataproc, pull requests merged in 2022-01, with the labels that each got.

#315 chore: add api_shortname to repo-metadata.json
  .repo-metadata.json
Labels: api: dataproc

#308 docs(samples): update python-api-walkthrough.md
  samples/snippets/python-api-walkthrough.md
Labels: api: dataproc, cla: yes, samples

#314 chore(samples): fix job polling
  samples/snippets/submit_job_to_cluster.py
Labels: api: dataproc, samples

#335 chore: make samples 3.6 check optional
  .github/sync-repo-settings.yaml
Labels: api: dataproc, samples
