Repository googleapis/python-dataproc, pull requests merged in 2022-04, with the labels that each got.

#380 chore: set up CI on v0 branch
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/unittest.yml
  .kokoro/release.sh
  .kokoro/release/common.cfg
  noxfile.py
Labels: api: dataproc

#364 fix(deps): require google-api-core >= 1.31.5, >= 2.3.2 on v2 release
  docs/conf.py
  google/cloud/dataproc_v1/services/autoscaling_policy_service/async_client.py
  google/cloud/dataproc_v1/services/autoscaling_policy_service/client.py
  google/cloud/dataproc_v1/services/autoscaling_policy_service/transports/base.py
  google/cloud/dataproc_v1/services/autoscaling_policy_service/transports/grpc.py
  google/cloud/dataproc_v1/services/cluster_controller/async_client.py
  google/cloud/dataproc_v1/services/cluster_controller/client.py
  google/cloud/dataproc_v1/services/cluster_controller/transports/base.py
  google/cloud/dataproc_v1/services/cluster_controller/transports/grpc.py
  google/cloud/dataproc_v1/services/job_controller/async_client.py
  google/cloud/dataproc_v1/services/job_controller/client.py
  google/cloud/dataproc_v1/services/job_controller/transports/base.py
  google/cloud/dataproc_v1/services/job_controller/transports/grpc.py
  google/cloud/dataproc_v1/services/workflow_template_service/async_client.py
  google/cloud/dataproc_v1/services/workflow_template_service/client.py
  google/cloud/dataproc_v1/services/workflow_template_service/transports/base.py
  google/cloud/dataproc_v1/services/workflow_template_service/transports/grpc.py
  google/cloud/dataproc_v1/types/autoscaling_policies.py
  google/cloud/dataproc_v1/types/clusters.py
  google/cloud/dataproc_v1/types/jobs.py
  google/cloud/dataproc_v1/types/operations.py
  google/cloud/dataproc_v1/types/shared.py
  google/cloud/dataproc_v1/types/workflow_templates.py
  noxfile.py
  setup.py
  testing/constraints-3.6.txt
  tests/unit/gapic/dataproc_v1/test_autoscaling_policy_service.py
  tests/unit/gapic/dataproc_v1/test_cluster_controller.py
  tests/unit/gapic/dataproc_v1/test_job_controller.py
  tests/unit/gapic/dataproc_v1/test_workflow_template_service.py
Labels: api: dataproc, size: xl

#365 fix(deps): require google-api-core >= 1.31.5, >= 2.3.2 on v1 release
  .gitignore
  docs/conf.py
  google/cloud/dataproc_v1/gapic/autoscaling_policy_service_client.py
  google/cloud/dataproc_v1/gapic/cluster_controller_client.py
  google/cloud/dataproc_v1/gapic/job_controller_client.py
  google/cloud/dataproc_v1/gapic/workflow_template_service_client.py
  google/cloud/dataproc_v1/proto/autoscaling_policies_pb2_grpc.py
  google/cloud/dataproc_v1/proto/clusters_pb2.py
  google/cloud/dataproc_v1/proto/clusters_pb2_grpc.py
  google/cloud/dataproc_v1/proto/jobs_pb2.py
  google/cloud/dataproc_v1/proto/jobs_pb2_grpc.py
  google/cloud/dataproc_v1/proto/operations_pb2.py
  google/cloud/dataproc_v1/proto/shared_pb2.py
  google/cloud/dataproc_v1/proto/workflow_templates_pb2.py
  google/cloud/dataproc_v1/proto/workflow_templates_pb2_grpc.py
  google/cloud/dataproc_v1beta2/gapic/autoscaling_policy_service_client.py
  google/cloud/dataproc_v1beta2/gapic/cluster_controller_client.py
  google/cloud/dataproc_v1beta2/gapic/job_controller_client.py
  google/cloud/dataproc_v1beta2/gapic/workflow_template_service_client.py
  google/cloud/dataproc_v1beta2/proto/autoscaling_policies_pb2_grpc.py
  google/cloud/dataproc_v1beta2/proto/clusters_pb2.py
  google/cloud/dataproc_v1beta2/proto/clusters_pb2_grpc.py
  google/cloud/dataproc_v1beta2/proto/jobs_pb2.py
  google/cloud/dataproc_v1beta2/proto/jobs_pb2_grpc.py
  google/cloud/dataproc_v1beta2/proto/operations_pb2.py
  google/cloud/dataproc_v1beta2/proto/shared_pb2.py
  google/cloud/dataproc_v1beta2/proto/workflow_templates_pb2.py
  google/cloud/dataproc_v1beta2/proto/workflow_templates_pb2_grpc.py
  noxfile.py
  setup.py
  tests/unit/gapic/v1/test_workflow_template_service_client_v1.py
  tests/unit/gapic/v1beta2/test_workflow_template_service_client_v1beta2.py
Labels: api: dataproc, size: l

#363 fix(deps): require google-api-core >= 1.31.5, >= 2.3.2 on v3 release
  docs/conf.py
  google/cloud/dataproc_v1/services/autoscaling_policy_service/async_client.py
  google/cloud/dataproc_v1/services/autoscaling_policy_service/client.py
  google/cloud/dataproc_v1/services/autoscaling_policy_service/transports/base.py
  google/cloud/dataproc_v1/services/autoscaling_policy_service/transports/grpc.py
  google/cloud/dataproc_v1/services/batch_controller/async_client.py
  google/cloud/dataproc_v1/services/batch_controller/client.py
  google/cloud/dataproc_v1/services/batch_controller/transports/base.py
  google/cloud/dataproc_v1/services/batch_controller/transports/grpc.py
  google/cloud/dataproc_v1/services/cluster_controller/async_client.py
  google/cloud/dataproc_v1/services/cluster_controller/client.py
  google/cloud/dataproc_v1/services/cluster_controller/transports/base.py
  google/cloud/dataproc_v1/services/cluster_controller/transports/grpc.py
  google/cloud/dataproc_v1/services/job_controller/async_client.py
  google/cloud/dataproc_v1/services/job_controller/client.py
  google/cloud/dataproc_v1/services/job_controller/transports/base.py
  google/cloud/dataproc_v1/services/job_controller/transports/grpc.py
  google/cloud/dataproc_v1/services/workflow_template_service/async_client.py
  google/cloud/dataproc_v1/services/workflow_template_service/client.py
  google/cloud/dataproc_v1/services/workflow_template_service/transports/base.py
  google/cloud/dataproc_v1/services/workflow_template_service/transports/grpc.py
  google/cloud/dataproc_v1/types/autoscaling_policies.py
  google/cloud/dataproc_v1/types/batches.py
  google/cloud/dataproc_v1/types/clusters.py
  google/cloud/dataproc_v1/types/jobs.py
  google/cloud/dataproc_v1/types/operations.py
  google/cloud/dataproc_v1/types/shared.py
  google/cloud/dataproc_v1/types/workflow_templates.py
  noxfile.py
  setup.py
  testing/constraints-3.6.txt
  tests/unit/gapic/dataproc_v1/test_autoscaling_policy_service.py
  tests/unit/gapic/dataproc_v1/test_batch_controller.py
  tests/unit/gapic/dataproc_v1/test_cluster_controller.py
  tests/unit/gapic/dataproc_v1/test_job_controller.py
  tests/unit/gapic/dataproc_v1/test_workflow_template_service.py
Labels: api: dataproc, size: xl

#398 Docs: Update python-api-walkthrough.md
  samples/snippets/python-api-walkthrough.md
Labels: api: dataproc, size: m

#405 docs: Dataproc ebay walkthrough update
  samples/snippets/python-api-walkthrough.md
  samples/snippets/submit_job_to_cluster.py
Labels: api: dataproc, size: m
